@use "/assets/scss/reset.scss";
@use "/assets/scss/fonts.scss";

:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  --color-accent: #a18a68;
  --color-black: #000000;
  --color-dark-gray: #707070;
  --color-gray: #d8d8d8;
  --color-white-light: #ffffff;
}